{% extends 'base_layout.html' %}
{% load static from static %}

{% block content %}
<div class="box" style=”min-width:100%”>
    {% if user == article.author %}
    <div class="has-text-right">
        <a href="{% url 'articles:edit_article' article.slug %}" class="button is-info ">
            <ion-icon name="create-outline"></ion-icon>
        </a>
        <a href="{% url 'articles:delete_article' article.slug %}" class="button is-danger">
            <ion-icon name="trash-outline"></ion-icon>
        </a>
    </div>
    {% else %}
    <div class="has-text-right">
        <p class="content has-text-grey-light">
            You can't not edit or delete this post
        </p>
    </div>
    {% endif %}
    <div class="title has-text-dark has-text-centered">{{ article }}</div>
    <img src="{{ article.thumb.url }}" alt="" class="image is-centered" style="min-width: 100%; border-radius: 5px">
    <div class="subtitle has-text-dark has-text-centered">{{ article.text }}</div>
    <div class="columns">
        <div class="column is-1">
            <form action="{% url 'articles:like' article.slug %}" method="post"
                  class="has-text-right">
                {% csrf_token %}
                <button type="submit" name="article_id" value="{{ article.id }}"
                        class="button {% if user in article.likes.all %} is-success {% endif %} ">
                    <ion-icon name="thumbs-up-outline"></ion-icon>
                    <span class="ml-2">{{ article.total_likes }}</span>
                </button>
            </form>
        </div>
        <div class="column is-1">
            <form action="{% url 'articles:dislike' article.slug %}" method="post"
                  class="has-text-right">
                {% csrf_token %}
                <button type="submit" name="article_id" value="{{ article.id }}"
                        class="button {% if user in article.dislikes.all %} is-danger {% endif %} ">
                    <ion-icon name="thumbs-down-outline"></ion-icon>
                    <span class="ml-2">{{ article.total_dislikes }}</span>
                </button>
            </form>
        </div>
    </div>
    {% if not article.comment_set.all %}
    <div class="has-text-centered has-text-grey-light is-size-5 mx-3">
        No comments yet. Be first to leave comment...
    </div>
    {% else %}
    <p class="has-text-centered is-size-3 mb-6">Comments</p>
    {% for comment in article.comment_set.all %}
    <article class="message is-info">
        <div class="message-header">
            {% if user == comment.user %}
            <p>Added by you at {{ comment.date_added }}</p>
            {% else %}
            Added by {{ comment.user }} at {{ comment.date_added }}
            {% endif %}
            {% if user == comment.user %}

        </div>
        <div class="has-text-right is-size-5">
            <a href="{% url 'articles:delete_comment' comment.pk %}" style="text-decoration: none">
                <ion-icon name="trash-outline"></ion-icon>
            </a>
            <a href="{% url 'articles:edit_comment' comment.pk %}" class="button is-info">
                <ion-icon name="create-outline"></ion-icon>
            </a>
        </div>
        {% endif %}
        <div class="message-body">{{ comment.body }}</div>
    </article>
    {% endfor %}
    {% endif %}
    <form method="POST" enctype="multipart/form-data" class="comment">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="button is-success mt-3 is-fullwidth">Submit</button>
    </form>

    <div class="has-text-grey is-size-6 has-text-right is-italic">
        <p class="datetime">Date of publication: {{ article.date }}</p>
        {% if user == article.author %}
        <p class="content">Published by you</p>
        {% else %}
        <p class="content">Published by: {{ article.author }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}